# PyMuPDF (fitz) for PDF parsing
PyMuPDF
pdfplumber


# For chunking and embedding
tiktoken

# For LLMs
llama-cpp-python

# PyTorch 
torch

# For Gemma
protobuf

# FastAPI for serving the chatbot
fastapi

# For Model Context Protocol
mcp

# Uvicorn for ASGI server
uvicorn

# numpy for vector operations
numpy
pandas
pillow
scikit-learn
gradio
opencv-python
psutil
